%html
  %head
    %title IndexTank Demo Search 
    %link{"rel" => "stylesheet", "href" => "style.css", "type" => "text/css"}
  %body
  #header
    %h1 IndexTank Demo Search
    %form{ :action=>"/search"}
      find musical instruments:
      %input{ :type=>"text", :name=>"query", :value=>"#{@query}"}
      %input{ :type=>"submit", :value=>"Search"}
  #results
    - if @results
      %strong #{@results['matches']} 
      results in 
      %strong #{@results['search_time']}
      seconds. 
      %p
      - @results['results'].each do |r|
        %a(href="http://freebase.com/view#{r['docid']}") #{r['name']}
        %br
        #{r['family']}
        #{r['snippet_text']}
        %p
        
