%html
  %head
    %title IndexTank Demo Search 
    %link{"rel" => "stylesheet", "href" => "style.css", "type" => "text/css"}
    <script src="http://code.jquery.com/jquery-1.5.js"></script>
  %body
  #header
    %h1 IndexTank Demo Search
    %form{ :action=>"/search"}
      find musical instruments:
      %input{ :type=>"text", :id=>"query", :name=>"query", :value=>"#{@query}"}
      %input{ :type=>"submit", :value=>"Search"}
    %script{:type => "text/javascript", :src  => "instant.js" }
  #results
    - if @results
      %strong #{@results['matches']} 
      results in 
      %strong #{@results['search_time']}
      seconds. 
      %p
      - @results['results'].each do |r|
        %a(href="http://freebase.com/view#{r['docid']}") #{r['name']}
        %br
        #{r['family']}
        #{r['snippet_text']}
        %p
        
